
/*Define jumbotron styles to change height and colors*/

.jumbotron{
	background-color: #232127;
	height: 5%;
	padding-top: 25px;
	padding-bottom: 25px;
}


.jumbotron h1, .jumbotron p{
	margin-top: 10px;
	font-family: 'Bungee Inline', cursive;
	color: #DDEAE9;
}

/*Text color for error text and mandatory asterisk display*/
.errtxt, .mandatory{
	color: red;
}

/*Define panel styles to change padding and colors*/
.panel-default>.panel-heading{
	background-color: #232127;
	color: #DDEAE9;
}

.panel-body{
	padding-top: 5px;
}

/*Train schedule section header font style*/

.ts-hfnt{
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
}

/*Train schedule table header style*/
thead{
	padding-bottom: 10px;
	background-color: #DDEAE9;
}

/*Train schedule table details style*/
.td-design{
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #ddd;
}

.td-rmpad{
	padding: 3px;
}

/*Train schedule table row and details style in edit mode*/
.tr-edit{
	background-color: #ADC7EA;
}

.td-edit{
	padding: 1px;
	width: 100%;
}

.td-edit:focus{
	border: 1px solid blue;
}


/*Add train section styles*/
.at-cnt{
	margin-bottom: 60px;	
}


/*Add train header styles*/
.at-hfnt{
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
}

/*Add train form label & input box styles*/
.at-label{
	display: block;
	margin-left: 10px;
}

.at-input{
	display: block;
	width: 95%;
	margin: 10px;
}

/*Submit button style*/
.at-submit{
	margin: 10px;
	background-color: #232127;
	color: #DDEAE9;
	border-style: hidden;
}

/*Change width and background for footer section*/
.footer{
	width: 100%;
	background-color: #1c1e22;
	padding-top: 5px;

}
